<div class="w-full flex flex-col !items-center justify-center">
    <marquee behavior="alternate" direction="" class="font-bold sm:!text-4xl text-blue-500 text-2xl">Department we serves</marquee>
    <div class="flex mt-10 flex-col grid grid-cols-1 lg:w-[70%] w-full lg:grid-cols-4 lg:flex-wrap lg:flex-row md:flex-row gap-1">
        <div class="lg:w-[200px] sm:w-full shadow-md flex flex-col gap-2 justify-center items-center lg:h-[130px] h-40 !bg-gray-100 hover:text-white hover:!bg-blue-500  text-xl font-semibold lg:mb-[10px]">
          <i class="fa-solid fa-stethoscope text-2xl "></i>
            <p>Neurology</p>
        </div>
        <div class="lg:w-[200px] sm:w-full shadow-md flex flex-col gap-2 justify-center items-center lg:h-[130px] h-40 !bg-gray-100 hover:text-white hover:!bg-blue-500  text-xl font-semibold lg:mb-[10px]">
          <i class="fa-solid fa-stethoscope text-2xl "></i>
            <p>Surgical</p>
        </div>
        <div class="lg:w-[200px] sm:w-full shadow-md flex flex-col gap-2 justify-center items-center lg:h-[130px] h-40 !bg-gray-100 hover:text-white hover:!bg-blue-500  text-xl font-semibold lg:mb-[10px]">
          <i class="fa-solid fa-stethoscope text-2xl "></i>
            <p>Dental</p>
        </div>
        <div class="lg:w-[200px] sm:w-full shadow-md flex flex-col gap-2 justify-center items-center lg:h-[130px] h-40 !bg-gray-100 hover:text-white hover:!bg-blue-500  text-xl font-semibold lg:mb-[10px]">
          <i class="fa-solid fa-stethoscope text-2xl "></i>
            <p>Opthalmology</p>
        </div>
        <div class="lg:w-[200px] sm:w-full shadow-md flex flex-col gap-2 justify-center items-center lg:h-[130px] h-40 !bg-gray-100 hover:text-white hover:!bg-blue-500  text-xl font-semibold lg:mb-[10px]">
          <i class="fa-solid fa-stethoscope text-2xl "></i>
            <p>Cardiology</p>
        </div>
        <div class="lg:w-[200px] sm:w-full shadow-md flex flex-col gap-2 justify-center items-center lg:h-[130px] h-40 !bg-gray-100 hover:text-white hover:!bg-blue-500  text-xl font-semibold lg:mb-[10px]">
          <i class="fa-solid fa-stethoscope text-2xl "></i>
            <p>X-ray</p>
        </div>
    </div>
</div>