<div class="mt-6 w-full flex flex-col items-center">
    <p class="font-bold !text-4xl text-blue-500">Please feel free to <br>Share your experience..</p>
    <form action="" class="flex p-4 flex-col gap-2 items-center w-50 shadow-md bg-gray-100">
        <div class="flex gap-2 grid grid-cols-1 justify-center  ">
            <label for="Name" class="font-semibold text-xl">Name</label>
            <input placeholder="Enter your name.." class="border-1 rounded-[10px] shadow-md pl-2 h-9">
        </div>
        <div class="flex gap-2 grid grid-cols-1  ">
            <Label for="Email"class="font-semibold text-xl">Email</Label>
            <input placeholder="Enter your email.."  class="border-1 rounded-[10px] shadow-md pl-2 h-9">
        </div>
        <div class="flex gap-2 grid grid-cols-1  ">
            <label for="Subject"class="font-semibold text-xl">Subject</label>
            <input placeholder="Enter your Subject.." class="border-1 rounded-[10px] shadow-md pl-2 h-9" >

        </div>
        <div class="flex gap-2 grid grid-cols-1 ">
            <label for="Message"class="font-semibold text-xl">Message</label>
            <textarea name="Message" id="" cols="20" rows="3" placeholder="Enter text.." class="border-1 rounded-[10px] shadow-md pl-2 "></textarea >
        </div>
        <button class="w-30 h-10 bg-red-400 !rounded-[100px] font-bold text-white">
            Submit
        </button>
    </form>
</div>