<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doentcum</title>
  </head>
  <body>
    <footer class="!bg-[#e0e0de] shadow-md mt-[20px]">
      <div
        class="p-4 w-full flex flex-col sm:flex-col md:flex-col lg:flex-row justify-between  min-h-[200px] sticky bottom-0 " id="contact"
      >
        <div class="introduction flex flex-col gap-2">
          <h2 class="font-bold text-[18px]" >XYZ Hospital</h2>
          <p>One of the top hospital in India</p>
          <div class="social">
            <i class="fa-brands fa-twitter text-[27px] "></i>
            <i class="fa-brands fa-facebook text-[27px]"></i>
            <i class="fa-brands fa-square-instagram text-[27px]"></i>
          </div>
        </div>
        <div class="departments flex flex-col gap-2 no-underline mt-2">
          <h3 class="font-semibold text-[18px]">Departments</h3>
          <a href="" class="!no-underline hover:!underline important"
            ><i class="fa-solid fa-arrow-right"></i>Neurology</a
          >
          <a href="" class="!no-underline hover:!underline important"
            ><i class="fa-solid fa-arrow-right"></i>Opthamology</a
          >
          <a href="" class="!no-underline hover:!underline important"
            ><i class="fa-solid fa-arrow-right"></i>Surgical</a
          >
          <a href="" class="!no-underline hover:!underline important"
            ><i class="fa-solid fa-arrow-right"></i>Cardiology</a
          >
          <a href="" class="!no-underline hover:!underline important"
            ><i class="fa-solid fa-arrow-right"></i>Dental</a
          >
        </div>
        <div class="Links flex flex-col gap-2 mt-2">
          <h3 class="font-semibold text-[18px]">Links</h3>
          <a href="" class="!no-underline hover:!underline"
            ><i class="fa-solid fa-arrow-right"></i>About</a
          >
          <a href="" class="!no-underline hover:!underline"
            ><i class="fa-solid fa-arrow-right"></i>Departments</a
          >
          <a href="" class="!no-underline hover:!underline"
            ><i class="fa-solid fa-arrow-right"></i>Doctors</a
          >
          <a href="" class="!no-underline hover:!underline"
            ><i class="fa-solid fa-arrow-right"></i>Home</a
          >
          <a href="" class="!no-underline hover:!underline"
            ><i class="fa-solid fa-arrow-right"></i>Contact</a
          >
        </div>
        <div class="Services flex flex-col gap-2 mt-2">
          <h3 class="font-semibold text-[18px]">Services</h3>
          <a href="" class="!no-underline hover:!underline"
            ><i class="fa-solid fa-arrow-right"></i>Qualified Doctors</a
          >
          <a href="" class="!no-underline hover:!underline"
            ><i class="fa-solid fa-arrow-right"></i>Outdoors Checkup</a
          >
          <a href="" class="!no-underline hover:!underline"
            ><i class="fa-solid fa-arrow-right"></i>24 Hours Services</a
          >
          <a href="" class="!no-underline hover:!underline"
            ><i class="fa-solid fa-arrow-right"></i>Emergency Services</a
          >
        </div>

        <div class="Questions flex flex-col gap-2 mt-3">
          <h3 class="font-semibold text-[18px]">Have a Questions ?</h3>
          <a href="" class="!no-underline hover:!underline"
            ><i class="fa-solid fa-location-dot"></i>Kolkata,India</a
          >
          <a href="" class="!no-underline hover:!underline"
            ><i class="fa-solid fa-phone"></i>+91 8547****96</a
          >
          <a href="" class="!no-underline hover:!underline"
            ><i class="fa-solid fa-envelope"></i>xyz@gmail.com</a
          >
        </div>
      </div>
      <p class="text-center font-bold">Copyright 2025 All rights reserved |</p>
    </footer>
  </body>
</html>
