<nav class="bg-white shadow-md w-full ">
  <div class="container mx-auto min-w-[80%] flex justify-between items-center py-3 px-1">
    
    <a href="/" class="text-[23px] font-semibold !text-pink-600 !no-underline">XYZ Hospital</a>

    <ul class="hidden md:flex items-center space-x-6">
      <li><a href="/" class="text-black hover:!text-pink-600 !no-underline">Home</a></li>
      <li><a href="#about" class="text-black hover:!text-pink-600 !no-underline">About</a></li>
      <li><a href="#department" class="text-black hover:!text-pink-600 !no-underline">Department</a></li>
      <li><a href="#doctor" class="text-black hover:!text-pink-600 !no-underline">Doctor</a></li>
      <li><a href="#contact" class="text-black hover:!text-pink-600 !no-underline">Contact</a></li>
    </ul>
    <div class="!min-w-[100px] ml-[30px] lg:ml-[10px] md:flex flex !justify-around items-center gap-3 px-3 ">
      <a href="/signin" class="signin"><button class="signin bg-red-500 !rounded-[100px] px-4 font-bold hover:!opacity-70 !min-w-[60px] px-2 !h-[40px] !text-[13px] !text-white">Sign In</button></a>
      <button class="md:hidden !text-3xl md:ml-[2rem] border-2 border-grey rounded-[10px] w-[40px]" id="menu-btn">
        ☰
      </button>
    </div>
  </div>

  <div class="md:hidden hidden flex flex-col space-y-4 px-4 pb-3" id="mobile-menu">
    <a href="/" class="text-black ml-[15px] hover:!text-pink-600 !no-underline">Home</a>
    <a href="#about" class="text-black ml-[15px] hover:!text-pink-600 !no-underline">About</a>
    <a href="#department" class="text-black ml-[15px] hover:!text-pink-600 !no-underline">Department</a>
    <a href="#doctor" class="text-black ml-[15px] hover:!text-pink-600 !no-underline">Doctor</a>
    <a href="#contact" class="text-black ml-[15px] hover:!text-pink-600 !no-underline ">Contact</a>
  </div>
</nav>

<script>
  const menuBtn = document.getElementById('menu-btn');
  const mobileMenu = document.getElementById('mobile-menu');
  
  const signIn=document.querySelector(".signin")
  menuBtn.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
  });
</script>


